body,h1,h2,h3,h4,h5{padding:0;margin:0;font-weight:normal;font-family:"微软雅黑";}
:-webkit-scrollbar{width:0px;height:0px}
body{margin:0;padding:0;}
.clearfix{clear:both;}
.box{width:100%;}

body{background:#f6f7f9;}
.audio{width:100%;height:0px;padding-bottom:50%;position:relative;background:#2dc158;}
.audio img{width:100%;height:100%;position:absolute;}
.audio .c_title{background:url(../../images/audio/bg_6.png)no-repeat;background-size:100% 100%;width:40%;position:absolute;top:22%;left:30%;}
.audio .c_title h1{width:80%;margin:auto auto;color:#fff;font-size:16px;text-align:center;line-height:26px;padding:5px;}
.audio audio{width:100%;position:absolute;bottom:0px;}

.cont{width:100%;background:#fff;margin:auto auto;margin-bottom:10px;padding-top:16px;padding-bottom:16px;}
.cont .detail{width:92%;margin:auto auto;}
.cont .title{float:left;width:60%;font-size:18px;color:#444;line-height:30px;text-align:left;}
.cont h1{width:34%;float:left;color:#646464;font-size:14px;line-height:30px;text-align:right;}
.cont .arrow{width:4%;float:right;margin-top:12px;}
.cont .arrow img{width:100%;display:block;}
.cont p{width:92%;margin:auto auto;color:#646464;font-size:14px;line-height:20px;margin-top:10px;}

.notice_box{width:100%;background:#fff;margin:auto auto;margin-bottom:10px;padding-top:10px;padding-bottom:10px;}
.notice_box .notice{width:92%;margin:auto auto;}
.notice_box .notice .head{float:left;width:36px;height:36px;border-radius:50%;border:1px solid #2DC158;}
.notice_box .notice .head img{width:100%;display:block;border-radius:50%;}
.notice_box .notice h1{float:left;width:66%;line-height:20px;color:#7e7e7e;font-size:12px;text-align:left;margin-left:3%;margin-top:10px;}
.notice_box .notice span{float:right;width:16%;height:20px;margin-top:10px;font-size:14px;color:#2DC158;line-height:20px;text-align:center;border-radius:12px;border:1px solid #2DC158;}

.other{width:100%;background:#fff;margin:auto auto;padding-top:16px;}
.other .title{width:92%;margin:auto auto;}
.other .title span{float:left;width:3px;height:20px;display:block;background:#2DC158;}
.other .title h1{float:left;margin-left:3%;line-height:20px;font-size:16px;color:#323232;}
.other .column2{width:96%;margin-left:4%;padding-top:16px;padding-bottom:16px;border-bottom:1px solid #eeeeee;}
.other .column2 .b_bg{width:32%;float:left;height:0px;position:relative;padding-bottom:32%;border:1px solid #eee;border-radius:6px;}
.other .column2 .b_bg img{width:100%;height:100%;border-radius:6px;position:absolute;}
.other .column2 .b_bg .list{border-radius:6px 0px 0px 0px;position:absolute;left:0px;width:24px;height:24px;background:url(../../images/hot/list_bg.png)no-repeat;background-size:100%;color:#fff;font-size:12px;text-align:center;line-height:24px;}
.other .column2 .b_bg .icon{position:absolute;right:5%;bottom:5%;width:24px;height:24px;opacity:0.6;background:url(../../images/hot/audio.png) no-repeat;background-size:100%;}
.other .column2 .b_text{float:left;width:60%;height:0px;padding-bottom:32%;margin-left:6%;position:relative;}
.other .column2 .b_text .b_title{width:100%;padding-bottom:6px;font-size:16px;color:#323232;line-height:16px;text-align:left;}
.other .column2 .b_text .price{width:100%;color:#ffa42f;font-size:14px;line-height:20px;text-align:left;padding-top:10px;}
.other .column2 .b_text .doc{width:100%;color:#646464;font-size:14px;line-height:20px;text-align:left;position:absolute;bottom:26px;}
.other .column2 .b_text .mes{width:100%;position:absolute;bottom:0px;}
.other .column2 .b_text .mes  .view1{width:7%;float:left;}
.other .column2 .b_text .mes  .view1 img{width:100%;display:block;}
.other .column2 .b_text .mes  .view2{width:9%;float:left;margin-top:2px;margin-left:2%;}
.other .column2 .b_text .mes  .view2 img{width:100%;display:block;}
.other .column2 .b_text .mes .b_numb{margin-left:2%;float:left;width:38%;font-size:14px;color:#969696;line-height:16px;}

.foot{width:100%;background:#fff;margin:auto auto;border-top:1px solid #dcdcdc;padding-top:8px;}
.foot .row{float:left;width:25%;}
.foot .row .img{width:26%;margin:auto auto;}
.foot .row .img img{width:100%;display:block;}
.foot .row h1{width:30%;margin:auto auto;color:#444;font-size:12px;line-height:26px;text-align:center;}
